import('IQCC')
import('qcc')
#import("pwr")
import("Rcmdr")
#import("rmarkdown")

importFrom("qicharts2", "paretochart")
importFrom("randtests", randtest.runs.test = "runs.test")
importFrom("TeachingDemos", "sigma.test")
importFrom("tcltk", "tkbutton")
importFrom("tseries", tseries.runs.test = "runs.test")

### Models
export("input2predict")
export("predict4dataset")

### Quality control
export("cchart1Menu")
export("cchart12Menu")
export("cchart2Menu")
export("npchart1Menu")
export("npchart12Menu")
export("npchart2Menu")
export("paretochartMenu")
export("pchart1Menu")
export("pchart12Menu")
export("pchart2Menu")
export("R1mcMenu")
export("R12mcMenu")
export("S1mcMenu")
export("S12mcMenu")
export("uchart1Menu")
export("uchart12Menu")
export("uchart2Menu")
export("xbar1mcMenu")
export("xbar12mcMenu")
export("xbarone1Menu")

### Statistics
export("randomnessFTest")
export("randomnessNTest")
export("twolevelfactor.runs.test")
export("SampleSizeZMenu")
export("sigmaTest")
export("numeric.runs.test")

