import("Rcmdr")
import("rmarkdown")

importFrom("randtests", randtest.runs.test = "runs.test")
importFrom("TeachingDemos", "sigma.test")
importFrom("tcltk", "tkbutton")
importFrom("tseries", tseries.runs.test = "runs.test")

export("input2predict")
export("numeric.runs.test")
export("predict4dataset")
export("randomnessFTest")
export("randomnessNTest")
export("twolevelfactor.runs.test")
export("sigmaTest")

